/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$yellow: #FEC847;
// $family-primary: "Lato","Helvetica Neue",sans-serif;
$body-background-color: $yellow;
$text: white;
$title-color: white;

body {
    font-family: 'Lato', sans-serif;
}
.ng-valid[required], .ng-valid.required  {
    @extend .is-success;
}

.ng-invalid:not(form) {
    &.ng-touched {
        @extend .is-danger;
    }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bulma"; //REQUIRED TO OVERWRITE DEFAULT VARIABLES