/* You can add global styles to this file, and also import other style files */
$body-background-color: black;
$text: white;
$title-color: white;

.ng-valid[required], .ng-valid.required  {
    @extend .is-success;
}

.ng-invalid:not(form) {
    &.ng-touched {
        @extend .is-danger;
    }
}

@import "bulma"; //REQUIRED TO OVERWRITE DEFAULT VARIABLES
