/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$family-primary: 'Lato';
$body-background-color: grey;
$text: white;
$title-color: white;

.ng-valid[required], .ng-valid.required  {
    @extend .is-success;
}

.ng-invalid:not(form) {
    &.ng-touched {
        @extend .is-danger;
    }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bulma"; //REQUIRED TO OVERWRITE DEFAULT VARIABLES